{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set breakpoint_attributes = [
  content.field_card_breakpoint_desktop.0 ? 'desktop:grid-col-' ~ content.field_card_breakpoint_desktop.0['#markup'],
  content.field_card_breakpoint_tablet.0 ? 'tablet:grid-col-' ~ content.field_card_breakpoint_tablet.0['#markup'],
] %}

{{ include('ui_suite_uswds:card', {
  attributes: attributes.addClass(classes),
  variant: content.field_card_make_flag.0['#markup'] == 'On' ? 'flag' : 'default',
  list: is_group,
  header: content.field_card_header,
  image: content.field_card_media,
  content: content.field_card_content,
  footer: content.field_card_footer,
  footer_url: content.field_card_footer_url.0 ? content.field_card_footer_url.0['#url']|render : '',
  header_first: content.field_card_header_first.0['#markup'] == 'On' ? true : false,
  header_exdent: content.field_card_header_extent.0['#markup'] == 'On' ? true : false,
  media_inset: content.field_card_media_inset.0['#markup'] == 'On' ? true : false,
  media_exdent: content.field_card_media_exdent.0['#markup'] == 'On' ? true : false,
  body_exdent: content.body_exdent.0['#markup'] == 'On' ? true : false,
  footer_exdent: content.field_card_footer_exdent.0['#markup'] == 'On' ? true : false,
}, with_context = false) }}
